@import "tailwindcss";

:root {
  --orange-color: #FE5F00;
  --background-color: #FFFFFF;
  --border-color: #F0F0F0;
  --checkbox-color: #F1F1F1;
  --text-color: #000000;
  --secendary-text-color: #B1B1B1;
}

@theme inline {
  --font-sans: var(--font-nunito);
}

* {
  font-family: var(--font-nunito), sans-serif;
}

